/Apicutre/target/
/ApiCutre/nbproject/private/
/ApiCutre/vendor/
/ApiCutreJava/target/
/ApiCutreClienteJ/target/
/DefinitivaApiCliente/target/
/DefinitivaApiServer/target/
/nbproject/private/
/ApiPHPNew/nbproject/private/